@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Thư viện<br />
    <abbr title="Phone">P:</abbr>
   090.353.0693
</address>

<address>
    <strong>Facebook:</strong> <a href="https://www.facebook.com/profile.php?id=100009669885017">Y Nhu Nguyen</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/mun.nguy.77/">Mun Nguy</a>
</address>